body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  background:
    linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.2)),
    url("/pexels-mccutcheon-3784440.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 40px 0 40px 0;
}
.component {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.componentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.title {
  font-size: var(--font-size-title);
  color: var(--color-text-light);
  font-weight: bold;
  letter-spacing: 2px;
}

.text {
  font-size: var(--font-size-text);
  color: var(--color-text-light);
}
.successMessage{
  font-size: var(--font-size-text);
  color: var(--color-text-light);
  font-weight: bold;
}

.btn {
  width: fit-content;
  padding: 14px;
  font-size: var(--font-size-text);
  font-weight: bold;
  background: var(--color-secondary);
  color: var(--color-btn-text);
  border-radius: 8px;
  cursor: pointer;
  border-color: var(--color-secondary);
  text-decoration: none;
}
.smallBtn {
  width: fit-content;
  padding: 8px;
  font-size: var(--font-size-text);
  font-weight: bold;
  background: var(--color-secondary);
  color: var(--color-btn-text);
  border-radius: 8px;
  cursor: pointer;
  border-color: var(--color-secondary);
  text-decoration: none;
}


.btn:hover, .smallBtn:hover {
  background: var(--color-dark);
}

.btnLink {
  text-decoration: none;
  color: var(--color-btn-text);
}

@media screen and (max-width: 830px) {
  .title {
    font-size: var(--font-size-small-title);
    letter-spacing: 1px;
  }
  .text {
    font-size: var(--font-size-small-text);
  }
  .successMessage {
    font-size: var(--font-size-small-text);
  }
  .smallBtn {
    font-size: var(--font-size-small-text);
  }

}