@import "../../styles/vars.css";
@import "../../styles/globals.css";

.btnsection {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
    



