@import "../../styles/vars.css";

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}
.title{
    font-size: var(--font-size-title);
    color: var(--color-dark) ;
    font-weight: bold;
    letter-spacing: 2px;
}

.btnsection{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.btn {
    width: fit-content;
    padding: 14px;
    font-size: var(--font-size-text);
    font-weight: bold;
    background: var(--color-secondary);
    color: var(--color-text-light);
    border-radius: 8px;
    cursor: pointer;
    border-color: var(--color-secondary);
    text-decoration: none;
}

.btn:hover {
    background: var(--color-dark);
}
.btnLink {
  text-decoration: none;
}
    
@media screen and (max-width: 830px){
    .title{
        font-size: var(--font-size-small-title);
        letter-spacing: 1px;
    }
}



