@import "../../styles/vars.css";
@import "../../styles/globals.css";

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-dark);
    z-index: 100;
}
.content{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    color: var(--color-text-light);
    font-size: var(--font-size-text);
}
